<form method='post' action='jugador1'>
    <input type='submit' value='Jugador1'>
</form>

<form method='post' action='jugador2'>
    <input type='submit' value='Jugador2'>
</form>

El marcador actual es: <%= @marcador_actual %>